img.recaptcha-image {
  width: 140px;
  background-color: white;
  border: 1px solid;
  padding: 5px;
  margin-bottom: 10px;
}

.grid {
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 50px;
  margin-left: 10px;
  background: none repeat scroll 0 0 #EAE8E3;
  border: 1px outset white;
}

.grid strong{
  font-size: 8pt;
}

.am-wrapper{
	float:left;
	position:relative;
	overflow:hidden;
}

.am-wrapper img{
	position:absolute;
	outline:none;
}

.container-logged {
  margin-top: 50px;
}

.sidebar-content {
  color: snow;
}

footer {
  position: fixed;
  bottom: 0px;
  background-color: black;
  opacity:0.90;
  width: 100%;
  color: white;
}

footer p {
  margin: 50px;
}

#remember {
  float:left; margin-right: 5px;
}

#searches-box {
  position: fixed;
  top: 5px;
  right: 8px;
}

.frontend-layer {
  margin-bottom: 375px;
}

.spinner {
  position: absolute;
  left: 45%;
  top: 50%;
}

/*create modal*/
.layer-overflow{
  background: none repeat scroll 0 0 black;
  height: 100%;
  opacity: 0.8;
  position: fixed;
  width: 100%;
/*  z-index: 100000;*/
}

.modal-dialog-created{
  background: none repeat scroll 0 0 white;
  border-radius: 10px 10px 10px 10px;
  left: 0;
  margin: 8% 18%;
  padding: 15px;
  position: fixed;
  right: 0;
}

.done-true {
  text-decoration: line-through;
  color: grey;
}
