img.recaptcha-image {
  width: 140px;
  background-color: white;
  border: 1px solid;
  padding: 5px;
  margin-bottom: 10px;
}

.grid {
  padding: 10px;
  margin-bottom: 20px;
}

.am-wrapper{
	float:left;
	position:relative;
	overflow:hidden;
}
.am-wrapper img{
	position:absolute;
	outline:none;
}

.container-logged {
  margin-top: 50px;
}

.sidebar-content {
  color: white;
}

.am-container a img:hover {
  height: 10px;
  opacity:0.60;
  filter: alpha(opacity = 60);
  transition:opacity 0.25s;
  -moz-transition:opacity 0.25s;
  -webkit-transition:opacity 0.25s;
}

.am-container a:hover .img-info {
  color: white;
  position: absolute;
  bottom: 1px;
}

footer {
  position: fixed;
  bottom: 0px;
  background-color: black;
  opacity:0.90;
  width: 100%;
  color: white;
}

footer p {
  margin: 50px;
}

.row-fluid div {
  color: white;
}

#remember {
  float:left; margin-right: 5px;
}

#searches-box {
  position: fixed;
  top: 5px;
  right: 8px;
}

.frontend-layer {
  margin-bottom: 375px;
}
